{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inter House Lyceum - Students</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <img src="{% static 'image/IHL_logo.png' %}" alt="Inter House Lycium Logo" class="logo">
    <h1>Inter House Lyceum</h1>
</header>
<section class="coin-info">
    <div class="coin-item">
        <img src="{% static 'image/brilliant_coin.png' %}" alt="Бриллиант">
        <p><strong>Нестандартный ответ (Бриллиант):</strong> За оригинальные и творческие ответы, выходящие за рамки
            стандартного учебного материала, ученики получают бриллиантовую монетку.</p>
    </div>
    <div class="coin-item">
        <img src="{% static 'image/ruby_coin.png' %}" alt="Рубин">
        <p><strong>Помощь одноклассникам (Рубин):</strong> Рубиновая монетка вручается за оказание помощи и поддержки
            одноклассникам.</p>
    </div>
    <div class="coin-item">
        <img src="{% static 'image/gold_coin.png' %}" alt="Золото">
        <p><strong>Самостоятельность во время урока (Золото):</strong> Золотая монетка вручается за проявление
            самостоятельности в работе и выполнении заданий.</p>
    </div>
    <div class="coin-item">
        <img src="{% static 'image/silver_coin.png' %}" alt="Серебро">
        <p><strong>Правильный ответ (Серебро):</strong> Серебряная монетка присуждается за правильные и точные ответы на
            вопросы учителя.</p>
    </div>
    <div class="coin-item">
        <img src="{% static 'image/bronze_coin.png' %}" alt="Бронза">
        <p><strong>Активность на уроке (Бронза):</strong> Бронзовая монетка награждается за активное участие в
            обсуждениях и интерес к теме урока.</p>
    </div>
</section>
<main>
    <div class="student-list">
        {% for student in students %}
            <div class="student-item">
                <img src="{{ student.photo.url }}" alt="{{ student.name }} {{ student.surname }}" class="student-photo">
                <div class="student-info" onclick="toggleDetails('{{ student.id }}')">
                    <h2>{{ student.surname }} {{ student.name }}</h2>
                </div>
                <div id="student-{{ student.id }}" class="student-details">
                    <div class="coins">
                        <div class="coin-item">
                            <img src="{% static 'image/brilliant_coin.png' %}" alt="Бриллиант">
                            <span class="coin-label">{{ student.brilliant_coin }}</span>
                        </div>
                        <div class="coin-item">
                            <img src="{% static 'image/ruby_coin.png' %}" alt="Рубин">
                            <span class="coin-label">{{ student.ruby_coin }}</span>
                        </div>
                        <div class="coin-item">
                            <img src="{% static 'image/gold_coin.png' %}" alt="Золото">
                            <span class="coin-label">{{ student.gold_coin }}</span>
                        </div>
                        <div class="coin-item">
                            <img src="{% static 'image/silver_coin.png' %}" alt="Серебро">
                            <span class="coin-label">{{ student.silver_coin }}</span>
                        </div>
                        <div class="coin-item">
                            <img src="{% static 'image/bronze_coin.png' %}" alt="Бронза">
                            <span class="coin-label">{{ student.bronze_coin }}</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</main>
<script>
    function toggleDetails(studentId) {
        var details = document.getElementById('student-' + studentId);
        details.classList.toggle('show');
    }
</script>
</body>
</html>
